{% extends 'base.html' %}
{% load static %}

{% block title %}
  Sobre mí
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block content %}
  <h2>Sobre mí</h2>
  <p style="text-align: justify;">
    Profesional que está iniciando su carrera, enfocado en el aprendizaje continuo y el desarrollo de soluciones
    tecnológicas. Durante mi formación, adquirí habilidades en desarrollo web, análisis de bases de datos,
    gestión de proyectos e innovación tecnológica. Mi objetivo es crecer como profesional en el área de
    informática, contribuir a proyectos desafiantes y refinar mis conocimientos mientras amplío mi experiencia en
    el campo.
  </p>

  {% comment %} <hr/>

  <h2>Video</h2>
  <div id="video">
    <video src={% static 'videos/video.mp4' %} width="420" height="340" controls></video>
  </div> {% endcomment %}
  
  <hr/>

  <h2>Habilidades Técnicas</h2>
  <div id="skills">
    <ul>
      <li>
        Programación y Desarrollo Web:
        <ul>
          <li>HTML y CSS</li>
          <li>Python</li>
        </ul>
      </li>
      <li>
        Bases de datos relacionales:
        <ul>
          <li>SQL Server</li>
          <li>PostgreSQL</li>
        </ul>
      </li>
      <li>
        Frameworks de desarrollo web:
        <ul>
          <li>Django</li>
          <li>React.js</li>
          <li>.NET</li>
        </ul>
      </li>
      <li>
        Control de versiones:
        <ul>
          <li>GitHub</li>
        </ul>
      </li>
      <li>
        Sistemas operativos:
        <ul>
          <li>Linux</li>
          <li>Windows</li>
        </ul>
      </li>
      <li>
        Redes y Ciberseguridad
      </li>
      <li>
        Herramientas de seguridad:
        <ul>
          <li>Nessus</li>
          <li>Burp Suite</li>
        </ul>
      </li>
    </ul>
  </div>

  <hr/>
  
  <h2>Experiencia</h2>
  <div id="work">
    <ul>
        <li>
          Técnico en Operaciones Computacionales, ITCJJ INFORMATION
        <ul>
          <li>
            Octubre 2023 - Abril 2025
          </li>
          <p>
            Desarrollo de un proyecto sobre una página web utilizando Django que agiliza el proceso de trabajo
            para generar reportes y que el cliente tenga esa página disponible para revisar dichos reportes y
            evitar el uso excesivo del correo electrónico.
            Colaboración auditorías donde se buscan vulnerabilidades dentro de las redes de los clientes a
            través de escaneos utilizando un software de seguridad, usando herramientas como Nessus y
            OSINT.
          </p>
        </ul>
      </li>
      <li>
        Pasante Programador Jr, Global Teams International
        <ul>
          <li>
            Enero 2022 - Agosto 2022
            </li>
          <p>
          Desarrollo de un sitio web sobre un sistema de gestión de registros para un cliente utilizando la
          metodología SCRUM y trabajando con herramientas como Visual Studio, C# y SQL Server.
          </p>
        </ul>
      </li>
    </ul>
  </div>

  <hr/>

  <h2>Educación</h2>
  <div id="education">
    <ul>
      <li>
        Licenciatura en Desarrollo de Software
        <ul>
          <li>Enero 2023 -  Abril 2024</li>
          <li>Universidad Latinoamericana de Ciencia y Tecnología</li>
        </ul>
      </li>
      <li>
        Bachillerato en Ingeniería Informática
        <ul>
          <li>Enero 2020 - Mayo 2023</li>
          <li>Universidad Latinoamericana de Ciencia y Tecnología</li>
        </ul> 
      </li>
    </ul>
  </div>
    
  <hr/>

  <h2>Datos Adicionales</h2>
  <div id="add">
    <ul>
      <li>Idiomas:
        <ul>
          <li>Español (nativo)</li>
          <li>Inglés (B2)</li>
        </ul>
      </li>
      <li>Certificaciones:
        <ul>
        <li>Colegiatura (CPIC)</li>
          <li>Diseño Web HTML5 y CSS3 (ULACIT)</li>
          <li>Arquitectura Web (ULACIT)</li>
          <li>Responsive Web Design (FreeCodeCamp)</li>
          <li>Python esencial (LinkedIn)</li>
          <li>SQL Server 2022 para desarrolladores esenciales (LinkedIn)</li>
          <li>HTML esencial (LinkedIn)</li>
          <li>CSS Esencial (LinkedIn)</li>
        </ul>
      </li>
    </ul>
  </div>

  <a href="{% static 'docs/2025_JUAN_DIEGO_PINO_TORRES.pdf' %}" download class="btn-download">
    Descargar CV
  </a>

 <br><br><br>
  
{% endblock %}