{% extends 'base.html' %}
{% load static %}

{% block title %}
  Contacto
{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{% static 'css/contact.css' %}">
{% endblock %}

{% block content %}
  <h1>Contacto</h1>
  <ul>
    <li><i class="fa-solid fa-envelope"></i> pinoto2002@gmail.com</li>
    <li><a href="https://www.linkedin.com/in/juan-diego-pino-torres-b80856322"><i class="fa-brands fa-linkedin"></i> LinkedIn</a></li>
    <li><a href="https://www.github.com/Pino835"><i class="fa-brands fa-github"></i> GitHub</a></li>
  </ul>

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}